<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">EnvioFacil</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a href="/home" class="nav-link" routerLink="home">Inicio </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard" routerLinkActive="active">
          <a href="/admin" class="nav-link" routerLink="admin">Administrar</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard" routerLinkActive="active">
          <a href="/mod" class="nav-link" routerLink="mod">Gestionar</a>
        </li>
        <li class="nav-item" *ngIf="showUserBoard">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Envios</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register" routerLinkActive="active">Registrarse</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login" routerLinkActive="active">Iniciar sesion</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">Perfil de {{ email }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Cerrar sesion</a>
        </li>
      </ul>
    </nav>
  
    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>